# Introduction to `pandas`

This workshop's goal&mdash;which is facilitated by this `Colab notebook`&mdash;is to give you the confidence to use the `pandas` library in your future projects. You can also explore some of the functionality of the markup language in all the non-code cells like this one, which will allow you to generate presentations using the your own code and its output. Basic familiarity with Python *is* assumed as you should have already completed the first 3 initial projects.

The `pandas` library has been designed to facilitate the work with structured data. Most of the analyses you might perform will likely involve using tabular data, e.g., from Excel files, .csv files or relational databases (e.g., SQL). The `DataFrame` object in `pandas` is "a two-dimensional tabular, column-oriented data structure with both row and column labels." We will also take a look at `panas` `Series`, which is the one-dimensional version of the `DataFrame`, which means that is just a vector or a column of data. 

If you're curious:

>The `pandas` name itself is derived from *panel data*, an econometrics term for multidimensional structured data sets, and *Python data analysis* itself. After getting introduced, you can consult the full [`pandas` documentation](http://pandas.pydata.org/pandas-docs/stable/).

To motivate this workshop, we'll work with example data and go through the various steps you might need to prepare data for analysis. You'll realize that doing this type of work with large amounts of data is much more easier with `pandas` rather than using the Python's built-in data structures that we saw in the previous workshops like `lists` or `dictionaries`.

### Table of Contents

1 - [The DataFrame](#section1)<br>

2 - [Rename, Index, and Slice](#section2)<br>

3 - [Manipulating Columns](#section3)<br>

4 - [Merging](#section4)<br>

5 - [Calculating Unique And Missing Values](#section5)<br>

6 - [Groupby](#section6)<br>

7- [Exporting To CSV](#section7)<br>

8 - [Handling Missing Values (Boolean Indexing)](#section8)<br>

9 - [Sorting Values](#section9)<br>

10 - [Plotting In Pandas](#section10)<br>

<a id='section1'></a>
## 1. The DataFrame: Importing Data and Summary Statistics
The data used in these examples is available in the following [GitHub repository](https://github.com/google/dspl/tree/master/datasets/eurostat/unemployment), which is hosted by Google. We've selected a couple of those files and they are available at the Coding Club folder in our Google Drives, under the `data/` folder.

The first thing you must do is download the two files into your laptop and load them using the code provided in the previous projects, which you can find again in [here](https://colab.research.google.com/notebooks/io.ipynb)

Let's begin by importing `pandas` using the conventional abbreviation &mdash;pd&mdash; and some other libraries to upload and download files from this notebook.

In [0]:
import pandas as pd

The following piece of code will allow us to select one or multiple files at once. If we selecte multiple files, the `uploaded` variable will become a `dictionary` type. A dictionary is a collection which is unordered, changeable and indexed. They are declared with curly brackets, and they have keys and values. You can access the items of a `dictionary` by referring to its key name, inside square brackets, as we will do with our first loaded file below.

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

The `read_excel()` function in `pandas` allows us to easily import our data from an Excel file. You can specify the sheet name or number using `sheet_name`.  By default, it will load the first sheet in the notebook, and only that one. You can also specify the columns that you want to load, the number of rows or columns that you want to skip, if the sheet has a header or not, and many other parameters that you can see in the documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html). `read_excel()` returns a `DataFrame`, which is the object type that we will be using today.

In [0]:
import io

unemployment = pd.read_excel(io.BytesIO(uploaded['countries_total.xlsx']), sheet_name='Sheet1')

Great! You've created a `pandas` `DataFrame`. We can look at our data by using the `.head()` method. By default, this shows the header (column names) and the first five rows. Passing an integer, $n$, to `.head()` returns that number of rows.

In [0]:
unemployment.head()

To find the number of rows, you can use the `len()` function. Alternatively, you can use the `shape` attribute to see the number of rows and columns. If you write in a code cell the name of a variable, or a statement that returns data, `Google Colab` will print by default its content, without needing to use the `print()` function. But remember, this is only true if there is no more code after that line.

In [0]:
len(unemployment)

In [0]:
unemployment.shape

We have loaded one of the two files and we've also called a property (`shape`) and a method (`head()`)  of our `DataFrame` object. Next, you'll have to load the second file and answer a few questions about it.

### Challenge 1: Import and Explore Data From A CSV File

The `read_csv()` function in `pandas` allows us to easily import our data from a .csv file. By default, it assumes the data is comma-delimited, but you can specify the delimiter used in your data (e.g., tab, semicolon, pipe, etc.). There are several parameters that you can specify. See the documentation [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html). `read_csv()` returns a `DataFrame`.

Call `read_csv()` using the `pd` abbreviation as we did before and load the `countries.csv` file. Call the resulting `DataFrame` $countries$

In [0]:
# Use the .read_csv to load the second file you uploaded 
# into a new DataFrame called countries

Check the last $10$ rows using the method `.tail()`.

In [0]:
# Use the tail method to check the 10 last rows of countries

There are some other important methods that will allow you to explore your `DataFrame`. Try using the `info()`, `describe()`. Also, look at two other properties of the `DataFrame`: `dtypes` and `columns`. Do all that in your $countries$ `DataFrame`.

In [0]:
# Use the info() methods on the countries DataFrame

In [0]:
# Use the describe() methods on the countries DataFrame

In [0]:
# print the dtypes property of the countries DataFrame

In [0]:
# print the columns property of the countries DataFrame

When you called the `describe()` method, you may have noticed that only numeric columns were described. That is because the result of that method depends on what it's called on. If the `DataFrame` includes both numeric and object (e.g., strings) `dtype`s, it will default to summarizing the numeric data. If `.describe()` is called on strings, for example, it will return the count, number of unique values, and the most frequent value along with its count.

Also, the "count" parameter takes into account only  *non-missing* values, so if there are empty rows in some of the columns, we will see that reflected here.

### Challenge 2: Import Data From A URL

Above, we imported the unemployment data using the `read_csv` function from a file that we had previously uploaded to our notebook. `read_csv` is a very flexible method; it also allows us to import data using a URL as the file path. 

A csv file with data on world countries and their abbreviations is located at [https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv](https://raw.githubusercontent.com/dlab-berkeley/introduction-to-pandas/master/data/countries.csv).

Using `read_csv`, import the country data and save it to the variable $countries$ again and check that the content is the same as the file loaded before.

In [0]:
# Use .read_csv() on the link provided to overwrite the countries DataFrame

In [0]:
# Check the last 10 columns and make sure that they are 
# the same as we saw before

In [0]:
# Use the describe method on countries again and check that nothing changes

<a id='section2'></a>
## 2. Rename, Index, and Slice
Back to the entire unemployment data set. You may have noticed that the `month` column also includes the year. Let's go ahead and rename it.

In [0]:
unemployment = unemployment.rename(columns={'year_month' : 'month'})

In [0]:
unemployment.head()

We'll change again the column name with the original name for now

In [0]:
unemployment.rename(columns={'month' : 'year_month'}, inplace=True)

The `.rename()` method allows you to modify index labels and/or column names. As you can see, we passed a `dictionary` to the `columns` parameter, with the original name as the key and the new name as the value. Importantly, in the second renaming we also set the `inplace` parameter to `True`, which modifies the *actual* `DataFrame`, not a copy of it.

It might also make sense to separate the data in `year_month` into two separate columns. To do this, you'll need to know how to select a single column. We can either use bracket (`[]`) or dot notation (referred to as *attribute access*).

In [0]:
unemployment['year_month'].head()

In [0]:
unemployment.year_month.head()

It is preferrable to use the bracket notation as a column name might inadvertently have the same name as a `DataFrame` (or `Series`) method. In addition, only bracket notation can be used to create a new column. If you try and use attribute access to create a new column, you'll create a new attribute, *not* a new column.

When selecting a single column, we have a `pandas` `Series` object, which is a single vector of data, with "an associated array of data labels, called its *index*." A `DataFrame` also has an index. In our example, the indices are an array of sequential integers, which is the default. You can find them in the left-most position, without a column label.

Indices need not be a sequence of integers. They can, for example, be dates or strings. Note that indices do *not* need to be unique.

Indices, like column names, can be used to select data. Indices can be used to select particular rows. In fact, you can do something like `.head()` with slicing using the `[]` operator.

In [0]:
unemployment[0:5]

Before we continue, let's look at a few useful ways to index data&mdash;that is, select rows.

`.loc` primarily works with string labels. It accepts a single label, a list (or array) of labels, or a slice of labels (e.g., `'a' : 'f'`).

Let's create a `DataFrame` to see how this works.

In [0]:
bacteria = pd.DataFrame({'bacteria_counts' : [632, 1638, 569, 115],
                         'other_feature' : [438, 833, 234, 298]},
                         index=['Firmicutes', 'Proteobacteria', 
                                'Actinobacteria', 'Bacteroidetes'])

Notice that we pass in a `dict`, where the keys correspond to column names and the values to the data. In this example, we've also set the indices&mdash;strings in this case&mdash;to be the taxon of each bacterium.

In [0]:
bacteria

Now, if we're interested in the values (row) associated with "Actinobacteria," we can use `.loc` and the index name.

In [0]:
bacteria.loc['Actinobacteria']

This returns the column values for the specified row. Interestingly, we could have also used "positional indexing," even though the indices are strings.

In [0]:
bacteria[2:3]

The difference is that the former returns a `Series` because we selected a single lable, while the latter returns a `DataFrame` because we selected a range of positions.

Let's return to our unemployment data. Another indexing option, `.iloc`, primarily works with integer positions. To select specific rows, we can do the following.

In [0]:
unemployment.iloc[[1, 5, 6, 9]]

We can select a range of rows and specify the step value.

In [0]:
unemployment.iloc[25:50:5]

(Note: As is typical in Python, the end position is not included. Therefore, we don't see the row associated with the index 50, just as when we used `unemployment[0:5]` to mimic the `head()` method, we didn't receive the row in the index number 5.)

Indexing is important. You'll use it a lot. Below, we'll show how to index based on data values.

### Challenge 3: Renaming `bacteria`

The "other_feature" column in our `bacteria` table isn't very descriptive. Suppose we know that "other_feature" refers to a second set of bacteria count observations. Use the `rename` method to give "other_feature" a more descriptive name like `second_count`.

In [0]:
# Rename the column as asked and print the full DataFrame

### Challenge 4: Indexing to get a specific value

Both `loc` and `iloc` can be used to select a particular value if they are given two arguments. The first argument is the name (when using `loc`) or index number (when using `iloc`) of the *row* you want, while the second argument is the name or index number of the *column* you want.

Using `loc`, select "Bacteroidetes" and "bacteria_counts" to get the first bacteria count of Bacteroidetes.

Try getting the same result using `iloc` too.

In [0]:
bacteria

In [0]:
# Get the number 115 using .loc()

In [0]:
# Get the number 115 using .iloc()

### Challenge 5: Indexing multiple rows and columns

Both `loc` and `iloc` can be used to select subsets of columns *and* rows at the same time if they are given lists (and/or slices, for `iloc`] as their two arguments. 

You can use a `list` to get the desired rows and columns but when the numbers are continuous, you can select them with a range like:
> test_dataframe.iloc[0:5,] #This will return the first four rows and all the columns for the test_dataframe

Using `iloc` on the `unemployment` DataFrame, get:
* every row starting at row 4 and ending at row 7
* of those rows, only the 1st, 3rd and 4th columns

Get exactly those same cells using `loc` too.

In [0]:
# Get rows 4 to 7 of column number 1, 3 and 4 with .iloc()

In [0]:
# Get rows 4 to 7 of column number 1, 3 and 4 with .loc()

Your result should be in both cases equal to this:

>![Challenge 5 answer](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/challenge5.jpg)

You must have noticed that in order to get the same results, the row numbers differ between both methods. That is because using slices in `.loc` treats the end position in the slice inclusively, while slicing with `.iloc` (and on the DataFrame itself!) treats the end position in the slice exclusively (as Python lists does).

<a id='section3'></a>
## 3. Manipulating Columns: Renaming, Creating, Reordering

So, we still want to **split `year_month` into two separate columns.** Above, we saw that this column is type (technically, `dtype`) `float64`. 

You'll need to extract the year first using the `.astype()` method. This allows for type casting&mdash;basically converting from one type to another. We will call this column `year`.

We'll then subtract this value from `year_month`&mdash;to get the decimal portion of the value&mdash;and multiply the result by 100 and convert to `int`. Call this column `month`.

For more information on `pandas` `dtype`s, check the documentation [here](http://pandas.pydata.org/pandas-docs/stable/basics.html#dtypes).

In [0]:
unemployment['year'] = unemployment['year_month'].astype(int)

In [0]:
unemployment['month'] = ((unemployment['year_month'] - unemployment['year']) * 100).round(0).astype(int)

In [0]:
unemployment.head()

Now, let's say we wanted to **reorder the columns** in the `DataFrame`. For this, we use bracket notation again, passing in a list of column names in the order we'd like to see them.

In [0]:
unemployment = unemployment[['country', 'seasonality',
                             'year_month', 'year', 'month',
                             'unemployment', 'unemployment_rate']]

In [0]:
unemployment.head()

### Challenge 6: Another way to get the month

If you didn't know that casting floats to ints truncates the decimals in Python, you could have used NumPy's `floor()` function. `np.floor` takes an array or Pandas Series of floats as its argument, and returns an array or Series where every float has been rounded down to the nearest whole number. 


Use `np.floor` to round the values in the "year_month" column down so we can cast them as integer years. Note that the types are still floats, so we'll still need to use `astype` to typecast.

Store the new `Series` into a variable called `int_years`.

In [0]:
import numpy as np

In [0]:
# select the "year_month" column and store it in a variable called year_month


# use np.floor on year_month to get the years as floats. 
# Store that on years_by_floor


# cast years_by_floor to integers using astype(int)

In [0]:
# This code will check that your variable int_years has thesamee answers 
# as our first approach. This should return True
(unemployment['year_month'].astype(int) == int_years).all()

The last line of code in the previous cell does an element-wise comparison of the values in the corresponding arrays. The `.all()` method checks whether *all* elements are `True`.

<a id='section4'></a>
## 4. Merging

So far, our `DataFrame` is organized in a reasonable way. But, we know we can do better. We're eventually going to be interested in the unemployment rate for each country. The trouble is, we don't exactly know what the values in `country` refer to in our `unemployment` `DataFrame`. We have all the necessary information in our `countries` `DataFrame`.

In [0]:
unemployment.head()

In [0]:
countries.head(3)

This file has lots of useful information. It even has the country names is three different languages.

Because the data we need is stored in two separate files, we'll want to merge the data somehow. Let's determine which column we can use to join this data. `country` looks like a good option. However, we don't need all of the columns in the `countries` `DataFrame`. To select certain columns, we use the name bracket notation we used to reorder the columns.

In [0]:
# Store into country_names the columns country, country_group and name_en of 
# the countries DataFrame

In [0]:
# Print the three first rows of the country_names DataFrame

You should be seing this:

>![country_names](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/merging_dataframes.jpg)

`pandas` includes an easy-to-use merge function. If we wanted to **merge the two `DataFrame`s on country code.** we would need to use the following code:

```
unemployment = pd.merge(unemployment, country_names, on='country')
```

Merging is often more complex than this example. If you want to merge on multiple columns, you can pass a list of column names to the `on` parameter.

```
pd.merge(first, second, on=['name', 'id'])
```

For more information on merging, check the [documentation](http://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging).

`pandas` also provides a `.merge()` method that can act on a `DataFrame`. You can read more about that [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html).

### Challenge 7: Merge on different columns

You may sometimes need to merge on columns with different names. To do so, use the `left_on` and `right_on` parameters, where the first listed `DataFrame` is the "left" one and the second is the "right." It might look something this.

```
pd.merge(one, two, left_on='city', right_on='city_name')
```

Suppose we wanted to merge `unemployment` with a new DataFrame called `country_codes`, which is a subset of columns of country_names containing only country and name, but where the country column is renamed to "c_code".

In [0]:
# Create the DataFrame country_codes, with columns country and name_en from 
# country_names. Rename the column country to c_code

Use `merge` to merge `unemployment` and `country_codes` on their country codes. Make sure to specify `left_on=` and `right_on=` in the call to `merge`!

In [0]:
# Merge unemployment and country_codes that you just created on 
# country and c_code, into a new DataFrame called unemployment_merged


# Print the first 5 rows of the unemployment_merged DataFrame

This is what your result should look like:

> ![Challenge 7](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/challenge7.jpg)

<a id='section5'></a>
## 5. Calculating Unique and Missing Values

You should be seing this as the result from the previous cell:

In [0]:
unemployment_merged.head()

That's easier to understand. We now know that the abbreviation "at" corresponds to Austria. We might be curious to check what countries we have data for. The `Series` object includes a `.unique()` method. We'll use this to check the countries. We can select the name either using bracket or dot notation. (While we suggested using brackets above, it *is* sometimes easier to use dot notation. Just be careful.)

In [0]:
# Use the .unique() method on the column name_en of unemployment_merged

You should have seen the 30 different names in the column, but to get an easier count of the **number of unique countries,** we can either wrap the above code with `len()` to get the number of items in the array, or we can use the  `Series.nunique()` method. If we apply it to the whole `DataFrame` instead to a particular column `Series`, we get the number of unique values in each column.

In [0]:
# Use the .nunique() method on the whole DataFrame to see the number 
# of different values in each column

It might be more interesting to know **how many observations** we actually have. `pandas` has a `Series` method called `.value_counts()` that returns the counts for the unique values in the `Series`.

In [0]:
# Call the method .value_counts on the column name_en to see the 
# number of occurrences of each country.

Your result has been ordered by default, since the `Series` is sorted by values. If you'd like it sorted by index&mdash;country name in this case&mdash;append the `.sort_index()` method.

In [0]:
# Append to the previous command the method .sort_index() to 
# get an alphabetically ordered list of occurrences

This will be useful for our future analysis. The maximum number of observations for a given country for this time period is 1,008 observations. We'll note that certain countries, such as Turkey, have far less data.

How about finding the **date range** for this data set? Use the `max()` and `min()` methods on the column year to learn how the minimum and maximum years in our dataset are 1983 and 2010.

In [0]:
# Print the maximum and minimum values with .max() and .min() of 
# the column year of our unemployment_merged DataFrame

Next, we should pause for a moment and think about what data we really care about. For our purposes, the variable of interest is `unemployment_rate`. The number of observations by country only reflect the number of instances of each country name in the dataset. It is possible, maybe even expected, to have some missing data within those instances. Let's find out **how many unemployment rate values are missing.**

The `.isnull()` method returns a corresponding boolean value for each entry in the unemployment rate `Series`. In Python `True` is equivalent to 1 and `False` is equivalent to 0. Thus, when we add the result (with `.sum()`), we get a count for the *total* number of missing values.

In [0]:
# Get the number of nulls in the column unemployment_rate 
# with .isnull() and add the result with .sum()

You should see that there are 945 empty unemployment rate entries.

### Challenge 8: Exploring unemployment rates

What are the minimum and maximum unemployment rates in our data set? Which unemployment rates are most and least common?

Hint: look at where we found the minimum and maximum years for a hint to the first question, and use `value_counts` for the second.

In [0]:
# Print the minimum and maximum unemployment rate

You should discover that the unemployment rate ranges from 1.1% to 20.9%

In [0]:
# Get the 5 most common unemployment rates.

You should see how the 5 most common unemployment rate are all between 7% and 8%, and that all 5 cases have more than 250 occurrences.

In [0]:
# Use describe() on the unemployment_rate column to understand it a bit more

In [0]:
# Plot the histogram of the column with the method .hist(). 
# Also, include the argument bins=20 to get a more granular view

You should see a histogram similar to the next image:

>![Challenge 8](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/challenge8.png)

<a id='section6'></a>
## 6. GroupBy

What if we want to know how many missing values exist at the *country* level? We can take the main part of what we had above and create a new column in the `DataFrame`.

In [0]:
# Create a new column named unemployment_rate_null in unemployment_merged to 
# store if the column unemployment_rate is null by applying the .isnull()
# method on that column

To count the **number of missing values for each country,** we introduce the `.groupby()` method.

In [0]:
unemployment_merged.groupby('name_en')['unemployment_rate_null'].sum()

Let's explain what just happened. We start with our `DataFrame`. We tell `pandas` that we want to group the data by country name&mdash;that's what goes in the parentheses. Next, we need to tell it what column we'd like to perform the `.sum()` operation on. In this case, it's the indicator for whether or not the unemployment rate was missing.

As we saw above, the number of records for each country differs. We might, then, want to have the **missing values by country shown as percentages.** Let's create a new `DataFrame` for this.

We'll take the code from above and set the `as_index` parameter to `False` to extract the index into a new column.

In [0]:
unemployment_rate = unemployment_merged.groupby('name_en', as_index=False)['unemployment_rate_null'].sum()

In [0]:
unemployment_rate.head()

Now, `unemployment_rate` is a `DataFrame` with the information of number of null unemployment rate entries per country. It's important to note that using `as_index=False` in `.groupby()` only works if the grouping column(s) are not the same as the columns on which we're performing the operation.

Also, to group by several columns, simply pass in a list of column names to `.groupby()`.

```
unemployment_merged.groupby(['name_en', 'seasonality'])['unemployment_rate'].mean()
```

Now, let's add the number of observations by country to the `DataFrame`.

In [0]:
unemployment_rate['n_obs'] = unemployment_merged.groupby('name_en')['name_en'].count().values

Here, we need to use the `values` attribute to get an array of the counts. Excluding `values` will result in a column full of `NaN`s. This is because the index in `unemployment.groupby('name_en')['name_en'].count()` is a list of the country names. When creating a new column, `pandas` tries to match on index. Recall that the default index values for a `DataFrame` is a sequence of integers.

Because we know (or have noticed) that the `.groupby()` function returns the values in alphabetical order, we can simply set the new column to the list of values, as we have done. You can, however, be more explicit and create another `DataFrame` and merge on country name.

Finally, let's create the column for the percentage of missing values.

In [0]:
unemployment_rate['null_percentage'] = unemployment_rate['unemployment_rate_null'] / unemployment_rate['n_obs']

In [0]:
unemployment_rate

You can see how Croatia has the highest null employment entries percentage in our dataset with a 66.67% nulls rate.

### Challenge 9: GroupBy 

Find the average unemployment rate for European Union vs. non-European Union countries. 

1. use `groupby` to group on "country_group"
2. select the "unemployment_rate" column
3. use `.mean()` to get the average

In [0]:
# Merge in the unemployment_merged DataFrame and the country_names DataFrame
# into the unemployment DataFrame


# Aggregate the unemployment_rate of the unemployment DataFrame
# by country_group and apply the mean() method

You should find that EU countries have an average of 8.30% unemployment rate vs the 6.08% of non-EU countries.

<a id='section7'></a>
## 7. Exporting A DataFrame to csv

As we can see above, Croatia has lots of missing data. This `DataFrame` contains useful information&mdash;things to consider&mdash;when analyzing the data.

Suppose we wanted to save this as a .csv file. For this, we'd use the `.to_csv()` method.

In [0]:
unemployment_rate.to_csv('unemployment_rate.csv')
files.download("unemployment_rate.csv")

Open your file. By default, this method writes the indices. We probably don't want that. Let's edit the code. Let's also be explicit about the type of delimiter we're interested in. (Values can be separated by pipes (`|`), semicolons (`;`), tabs (`\t`), etc.)

In [0]:
unemployment_rate.to_csv('unemployment_missing.csv', index=False, sep=';')
files.download("unemployment_missing.csv")

Much better!

Let's return to our main `DataFrame`. Now that we have the missing values information in `unemployment_rate`, we can **drop the last column** we added to `unemployment`.

In [0]:
# Drop the unemployment_rate_null column with the drop() method in 
# the unemployment DataFrame.

It's important to specify the `axis` parameter. `axis=1` refers to columns (`axis=0` refers to rows.) The parameter `inplace=True` simply modifies the actual `DataFrame` rather than returning a new `DataFrame`.

In [0]:
# Print the first rows of the unemployment DataFrame

Your unemployment `DataFrame` should look like this:

>![Exporting a DataFrame](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/exporting-dataframes.jpg)

<a id='section8'></a>
## 8. Dealing With Missing Values: Boolean Indexing

Now that we know about the missing values, we have to deal with them. There are two main options:

* Fill the missing values with some other values.
* Do not use observations with missing values.
    * Depending on the analysis, we may want to exclude entire countries.
    
Because countries with missing unemployment rate data have at least 36 missing values, which is too many to fill, we'll take the second approach and **exclude missing values** from our primary analyses.

Instead of just getting rid of that data, it might make sense to store it in a separate `DataFrame`. This way, we could answer questions such as, "do missing values occur during certain months (or years) more frequently?" With this, we will introduce the concept of *boolean indexing* for filtering data.

In [0]:
unemployment_rate_missing = unemployment[unemployment['unemployment_rate'].isnull()]

Recall that `unemployment['unemployment_rate'].isnull()` produces an array of boolean values that we use to filter the unemployment `DataFrame`. We used this previously when counting the number of missing values, though we did not see its output. Let's see some of that now.

In [0]:
unemployment['unemployment_rate'].isnull()[:10]

To create `unemployment_rate_missing`, we're indexing `unemployment` with the array above. This returns only the rows where the value in the array is `True`. Let's see if it worked.

In [0]:
unemployment_rate_missing.head()

It is also possible to specify multiple conditions using the `&` operator, but each condition needs to be inside of parentheses. The `.isin()` method, which takes a `list` of values, is useful when you're interested in conditioning on multiple values on a given column. For example, if you want to select multiple countries.

Now, we're ready to remove the missing data in `unemployment`. To do this, we can use the `.dropna()` method.

In [0]:
unemployment.dropna(subset=['unemployment_rate'], inplace=True)

(Note that while we have dropped all observations for which `unemployment_rate == NaN`, this doesn't mean that all of our observations overlap exactly in time. We may find that there are dates where we have data for one country and no data for others.)

### Challenge 10: Boolean Indexing
Suppose we only want to look at unemployment data from the year 2000 or later. Use **Boolean indexing** to create a DataFrame with only these years.

1. Select the "year" column from `unemployment`
2. Using the year data, create a **mask**: an array of Booleans where each value is True if and only if the year is 2000 or later. Remember, you can use Boolean operators like `>`, `<`, and `==` on a column
3. Use the mask from step 2 to index `unemployment`

In [0]:
# select the year column from unemployment and store it 
# in a new variable called 'year'


# create a mask where year >= 2000


# Use the Boolean index on the unemployment DataFrame and store
# in the variable unemployment_2000later the result


# Print the first few rows of unemployment_2000later

The result of your `unemployment_2000later` `DataFrame` should look like this:

> ![Challenge 10](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/challenge10.jpg)

<a id='section9'></a>
## 9. Sorting Values

At this point, you might be curious to know what the highest unemployment rates were. For this, we'll use the `DataFrame.sort_values()` method to **sort the data.**

In [0]:
unemployment.sort_values('unemployment_rate', ascending=False)[:5]

The above code creates a copy of the `DataFrame`, sorted in *descending* order, and prints the first five rows, without assigning that result to any `DataFrame`.

You may have noticed that the data set includes a `seasonality` column, which we haven't yet discussed. The unemployment rate in this data is actually calculated in three separate ways. Let's look at the values.

In [0]:
unemployment['seasonality'].unique()

The three options above correspond to:

* not seasonally adjusted
* seasonally adjusted
* trend cycle

We'll stick with seasonally adjusted data so that the values are more comparable. Let's look at the highest unemployment rates in this context.

In [0]:
unemployment[unemployment['seasonality'] == 'sa'].sort_values('unemployment_rate', ascending=False)[:5]

Spain has the highest seasonally adjusted unemployment rate.

### Challenge 11: Sorting based on multiple columns
Sometimes you may need to sort based on more than one column, in ascending or descending orders, and are interested only in a subset of the `DataFrame` columns. Let's try with some sorting and boolean indexing to get the summer unemployment rates of the eu countries, ordered by time.

1. Create three different boolean indices to select only:
  * EU countries
  * Summer months (June, July and August)
  * Seasonally adjusted unemployment rates
2. Store the result in a new `DataFrame` called "filtered_unemployment" and print the first 5 rows.
3. Using only the columns "name_en", "month", "year" and "unemployment_rate", sort the "filtered_unemployment" `DataFrame` by year, montn and country name with ascending order. Look at the result image to make sure that the column order and the sorting is identical to yours.

In [0]:
# Create the three boolean indices


# Use the boolean indices to filter the unemployment DataFrame into the
# new DataFrame filtered_unemployment


# Print the first 5 rows of filtered_unemployment

Your datafram should look like this at this point:

>![Challenge 11-1](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/challenge11-1.jpg)

In [0]:
# Sort the filtered_unemployment by year, month and name_en in ascending order. 
# Print only the FIRST 5 rows of the columns name_en, month, year and 
# unemployment_rate in that order

The first 5 rows should be like these:
>![Challenge11-2](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/challenge11-2.jpg)

In [0]:
# Sort the filtered_unemployment by year, month and name_en in ascending order. 
# Print only the LAST 5 rows of the columns name_en, month, year and 
# unemployment_rate in that order

The last 5 rows should be like these:
>![Challenge11-3](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/challenge11-3.jpg)

<a id='section10'></a>
## 10. Plotting With Pandas

The best way to get a sense of this data is to **plot it.** Next, we'll start to look at some basic plotting with `pandas`. Before we begin, let's sort the data by country and date. This is good practice and is especially important when using `pandas`'s `.plot()` method because the x-axis values are based on the indices so the graph could make no sense at all if it's not ordered. When we sort, the index values remain unchanged. Thus, we need to reset them. The `drop` parameter tells `pandas` to construct a `DataFrame` *without* adding a column.

In [0]:
unemployment.sort_values(['name_en', 'year_month'], inplace=True)
unemployment.reset_index(drop=True, inplace=True)

Let's take a look at Spain's unemployment rate (only because it was the highest) across time.

In [0]:
spain = unemployment[(unemployment['name_en'] == 'Spain') &
                     (unemployment['seasonality'] == 'sa')]

We'll use the `plot()` method changing the attributes of figure size and line color via their arguments. Note that we use a semicolon (**;**) at the end of the line, to avoid printing the name of the object that is returned when we execute that line.

In [0]:
spain['unemployment_rate'].plot(figsize=(10, 8), color='#348ABD');

Note that the values along the x-axis represent the indices associated with Spain in the sorted `unemployment` `DataFrame`. Wouldn't it be nice if, instead, we could **show the time period** associated with the various unemployment rates for Spain? It might also be interesting to **compare** Spain's unemployment rate with its neighbor to the west, Portugal.

Let's first create a `DataFrame` that contains the unemployment data for both countries.

In [0]:
ps = unemployment[(unemployment['name_en'].isin(['Portugal', 'Spain'])) &
                  (unemployment['seasonality'] == 'sa')]

Next, we'll **generate time series data** by converting our years and months into `datetime` objects. `pandas` provides a `to_datetime()` function that makes this relatively simple. It converts an argument&mdash;a single value or an array of values&mdash;to `datetime`. (Note that the return value [depends on the input](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html).) If we were interested in March 23, 1868, for example, we could do the following.

In [0]:
pd.to_datetime('1868/3/23')

The argument doesn't necessarily have to be specified in the `yyyy/mm/dd` format. You could list it as `mm/dd/yyyy`, but it's a good idea to be explicit. As a result, we pass in a valid string format.

In [0]:
pd.to_datetime('3/23/1868', format='%m/%d/%Y')

Let's create the `datetime` object and add it to the `DataFrame` as a column named `date`. For this, we'll use the `DataFrame.insert()` method.

In [0]:
ps.insert(loc=0, column='date',
          value=pd.to_datetime(ps['year'].astype(str) + '/' +
                               ps['month'].astype(str) + '/1'))

Finally, let's only keep certain columns, rename them, and reshape the `DataFrame`. With the `pivot()` method we can convert the single values of an Index or column, in our case "Country" into different columns.

In [0]:
ps = ps[['date', 'name_en', 'unemployment_rate']]
ps.columns = ['Time Period', 'Country', 'Unemployment Rate']
ps = ps.pivot(index='Time Period', columns='Country', 
              values='Unemployment Rate')
ps.head()

In [0]:
ps.tail()

Notice the indices.

In [0]:
ps.plot(figsize=(10, 8), title='Unemployment Rate\n');

### Challenge 12: Plot without missing values
Note that there are some dates for which we lack data on Spain's unemployment rate. What could you do if you wanted your plot to show only dates where both Spain and Portugal have a defined unemployment rate?

In [0]:
# Create a new DataFrame without rows that have NaN values. 
# Print the shape property to check the shape of that DataFrame

In [0]:
ps.shape

You must have seen that, dropping NAs, we end up with a `DataFrame` with 297 rows and 2 columns, as oposed to the original `DataFrame` from above, that had 336 rows and 2 columns.

In [0]:
# Plot the DataFrame just created with no missing values

Your plot should look like this:

>![Challenge 12](https://raw.githubusercontent.com/oxanozaep/pandas_learning/master/images/Spain-Portugal_plot.png)